body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    color: #EA9276;
}

.input-group {
    margin: 15px 0;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #EA9276;
}

input[type="email"], 
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="email"]:focus, 
input[type="password"]:focus {
    border-color: #EA9276;
}

.btn {
    background-color: chocolate;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    background-color: #EA9276;
}

.register-link {
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: #EA9276;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
