body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
   
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

form {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 100px;
}

#entries {
    margin-top: 20px;
    max-height: 200px;
    overflow-y: auto;
}

canvas {
    margin-top: 20px;
}
